{{!-- OpenID Authentication --}}
{{!-- <form action="/auth/openid" method="post">
    <div>
        <label>OpenID:</label>
        <input type="text" name="openid_identifier"/><br/>
    </div>
    <div>
        <input type="submit" value="Sign In"/>
    </div>
</form> --}}

<div class="jumbotron">
  <h1 class="display-3">Welcome to Resume Upload Tool!</h1>
  <p class="lead">In order to be able to submit your resume, you must first login to the website.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/auth/google" role="button">Sign In with Google</a>
  </p>
</div>
