{{!-- OpenID Authentication --}}
{{!-- <form action="/auth/openid" method="post">
    <div>
        <label>OpenID:</label>
        <input type="text" name="openid_identifier"/><br/>
    </div>
    <div>
        <input type="submit" value="Sign In"/>
    </div>
</form> --}}


<div>
    <p>Welcome to Resume Upload Tool.</p>
    <p>In order to be able to submit your resume, you must first login to the website :)</p>
</div>
{{!-- Google OAuth Authentication --}}
<div>
    <a href="/auth/google">Sign In with Google</a>
</div>
